<div class="rounded p-3"
  style="position: absolute;top:160px; left: 450px; width: 390px; background-color: white;height: 290px; ">
  <h3 style="text-align: center;">
    Sign In
  </h3>
  <form #userForm="ngForm" (ngSubmit)="submitdata(userForm)">
    <div style="margin-top: 40px;">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Username:</label>
        <div class="col-sm-8">
          <input type="email" ngModel name="username" #username="ngModel" class="form-control mx-5" id="inputEmail3"
            placeholder="Username" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label mt-4">Password:</label>
        <div class="col-sm-8">
          <input type="password" ngModel name="password" #password="ngModel" class="form-control mx-5 mt-4"
            id="inputPassword3" placeholder="Password" required
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 mt-4">
          <button type="submit" class="btn btn-primary" style="margin-left :100px">Verify</button>
          <button routerLink="details-page" type="button" class="btn btn-primary mx-3" *ngIf="isVerified">Sign
            In</button>

        </div>
      </div>
    </div>

  </form>
  <p style="margin-top: 15px; margin-left : 10px;"> Username -> admin , Password -> Admin@123</p>
</div>

<router-outlet></router-outlet>