<!-- <h1>angular</h1>
<app-details-page></app-details-page> -->

<!-- <button routerLink="details-page"> Click</button>
<router-outlet></router-outlet> -->

<!-- <div class="mx-5 mt-5 " style="border: 2px solid red;display: flex;
justify-content: center;
align-items: center;
text-align: center;
min-height:60vh;">
    <form #form = "ngForm" (ngSubmit)="getvalue(form.value)">
        <div style="border :2px solid black;height: 200px;width: 00px;">
            <label for="username">Username :</label>
            <input type="text" ngModel name ="username" placeholder="name"> <br><br>
            <label for="password">Password :</label>
            <input type="text" ngModel name ="password" placeholder="password"> <br><br>
            <button>Get Value</button>
        </div>
        
    </form> 
</div> -->

<!-- <div class="rounded p-3" *ngIf="show" style="position: absolute;top:180px; left: 500px; width: 300px; background-color: white;height: 270px; ">
  <h3 style="text-align: center;">
    Sign In
  </h3>
    <form #userForm="ngForm" (ngSubmit)="submitdata(userForm.value)">
        <div style="margin-top: 40px;">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-8">
                  <input type="email" ngModel name="username" class="form-control mx-5" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label mt-4">Password:</label>
                <div class="col-sm-8">
                  <input type="password" ngModel name="password" class="form-control mx-5 mt-4" id="inputPassword3" placeholder="Password">
                </div>
              </div>
              
              <div class="form-group row">
                <div class="col-sm-10 mt-4">
                  <button routerLink="details-page" type="submit" class="btn btn-primary">Sign in</button>
                </div>
              </div>
        </div>
       
      </form>
</div>
<router-outlet></router-outlet> -->



<!-- 
{{exampleparent}}
<app-sign-in (exampleOutput) = "examplemethodparent($event)"  ></app-sign-in> -->

<!-- <app-price></app-price> -->
<router-outlet></router-outlet>

