
<h3 style="text-align: center; margin-top: 40px;">
    <i class="bi bi-check-circle-fill" style="color: green;"></i>
    Congratulations!! your flight is booked
</h3>
<div class="card mb-3 " style="width: 500px; margin-left: 400px; margin-top: 100px;">
    <div class="row g-0">
      <div class="col-md-2 mx-4 mt-4">
        <img src="{{flights[2].image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" style="margin-left : 30px;">
        <div class="card-body">
          <h3 class="card-title" style="margin-bottom: 30px;"><u>{{flights[2].name}}</u> </h3>
          <p class="card-text"><b>From :</b> New Delhi, India</p>
          <p class="card-text"><b>To :</b> Mumbai, India</p>
          <p class="card-text"><b>Departure :</b>{{flights[2].departure}}</p>
          <p class="card-text"><b>Arrival :</b>  {{flights[2].arrival}}</p>
          <p class="card-text"><b>Duration :</b>  {{flights[2].flight_hours}}</p>
          <p class="card-text"><b>Price :</b>  {{flights[2].price | currency :'INR' :'symbol' : '1.0-0'}}</p>
        </div>
      </div>
    </div>
  </div>